<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.mybatis.mapper.SelectMapper">

<select id="getUserByid" resultType="User">
    select * from t_user where id = #{id}
</select>

    <select id="getAllUser" resultType="User">
        select * from t_user
    </select>

    <select id="getCount" resultType="java.lang.Integer">
        select count(*) from t_user
    </select>

    <select id="getUserByIDTOmap" resultType="map">
        select * from t_user where id=#{id}
    </select>

    <select id="getUsermap" resultType="map">
        select * from t_user
    </select>

    <!--        List<User> getUserBy(@Param("mohu") String mohu);
-->

    <select id="getUserBy" resultType="User">
        select * from t_user where username like '%${mohu}%'
    </select>
</mapper>
