<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.mapper.DeptMapper">

<!--    Dept getEmp(@Param("deptid")Integer deptid);-->
    <select id="getEmp" resultType="Dept">
        select * from t_dept where dept_id =#{deptid}
    </select>
<!--    Dept getDpet(@Param("deptid")Integer deptid);-->
    <resultMap id="dept" type="Dept">
        <id column="dept_id" property="deptId"></id>
        <result column="dept_name" property="deptName"></result>
        <collection property="emps" ofType="Emp">
            <id column="emp_id" property="empId"></id>
            <result column="emp_name" property="empName"></result>
            <result column="age" property="age"></result>
            <result column="gender" property="gender"></result>
        </collection>
    </resultMap>


    <select id="getDpet" resultMap="">
        select * from t_dept left join
            t_user on t_dept.dept_id =t_user.dept_id
        where t_dept.dept_id =#{deptid}
    </select>

    <resultMap id="one" type="dept">
        <id column="dept_id" property="deptId"></id>
        <result column="dept_name" property="deptName"></result>
        <collection property="emps" fetchType="eager" select="mybatis.mapper.EmpMapper.gettwo" column="dept_id"></collection>
    </resultMap>
    <select id="getone" resultMap="">
        select * from t_dept where dept_id =#{deptid}
    </select>


</mapper>
