<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--scope:设置bean的作用域
    singleton:表示获取bean所对应的对象都是同一个
    prototype:表示该bean所对应的对象都不是同一个

-->
    <bean id="student" class="com.atguigu.spring.pojo.Student" scope="prototype">
        <property name="sid" value="123"></property>
        <property name="sname" value="大苏打"></property>
    </bean>
</beans>