<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<div id="app" >
    <h1>index.html</h1>
    <input type="button" value="测试" @click="testAjax()"><br>
    <input type="button" value="测试json" @click="testRequestBody()"><br>
    <input type="button" value="响应json" @click="testresponse()"><br>
    <a th:href="@{/test/ResponseBody}">响应</a>

    <a th:href="@{/test/down}">下载图片</a>

    <form th:action="@{/test/up}" method="post" enctype="multipart/form-data">
        <input type="file" name="photo">
        <input type="submit" value="上传">
    </form>
</div>





<

<script type="text/javascript" th:src="@{/js/vue.js}"></script>
<script type="text/javascript" th:src="@{/js/axios.min.js}"></script>
<script type="text/javascript">


    /*
    * axios({
                    url:"",  请求路径
                    method:"", 请求方式
                    params:{}, 请求参数 name=value的方式发送的请求参数,不管使用的请求方式是get或post吗
                    * 请求参数都会拼接到请求地址后 此种方式可通过request.getparameter()获取
                    data:{}//请求参数 以json格式发送的请求参数,请求参数会被保存到请求报文的请求体传输到服务器
                    * //此种参数不可以通过request.getparameter获取
                }).then(response=>{
                    console.log(response.data);
                });*/
    var vue = new Vue({
        el:"#app",
        methods:{
            testAjax(){
                axios.post(
                    "/springmvc/test/ajax?id=1001",
                    {username:"admin",password:"123456"}
                ).then(response=>{
                    console.log(response.data);
                });
            },
            testRequestBody(){
                axios.post(
                    "/springmvc/test/Requestbody/json",
                    {username:"adminb",password:"123",age:123,gender:"男"}
                ).then(response=>{
                    console.log(response.data);
                });
            },
            testresponse(){
                axios.post("/springmvc/test/response/json").then(response=>{
                    console.log(response.data);
                })
            }
            }
    })
</script>
</body>
</html>