<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.mybatis.mapper.DynamicSQLMapper">
<!--List<Emp> getEmp(Emp emp);-->

    <sql id="empColumns">
            emp_id,emp_name,age,gender,dept_id
    </sql>


    <select id="getEmp" resultType="Emp">
        select  <include refid="empColumns"></include> from t_emp
        <where>
            <choose>
                <when test="empName != null and empName !=''">emp_name = #{empName}</when>
                <when test="age != null and age != ''">
                    age =#{age}
                </when>
                <when test="gender != null and gender != ''">
                    gender =#{gender}

                </when>
            </choose>
        </where>

    </select>

    <select id="getEmpthree" resultType="Emp">
        select  * from t_emp
        <trim prefix="where" suffixOverrides="and">
            <if test="empName != null and empName != ''">
                emp_name =#{empName} and
            </if>
            <if test="age !=null and age != ''">
                age =#{age} and
            </if>
            <if test="gender != null and gender != ''">
                gender =#{gender}
            </if>
        </trim>

    </select>


    <select id="getEmp1" resultType="Emp">
        select  * from t_emp <where>
        <if test="empName != null and empName != ''">
        emp_name =#{empName}
    </if>
        <if test="age !=null and age != ''">
            and age =#{age}
        </if>
        <if test="gender != null and gender != ''">
            and gender =#{gender}
        </if></where>

    </select>

    <insert id="insert">
        insert into t_emp values
        <foreach collection="emps" item="emp" separator=",">
            (#{emp.empId},#{emp.empName},#{emp.age},#{emp.gender},null)
        </foreach>
    </insert>

    <delete id="delete" >
        delete from t_emp where
        <foreach collection="empIds" item="empId" separator="or">
            emp_id =#{empId}
        </foreach>

<!--            <foreach collection="empIds" item="empId" separator="," open="(" close=")">-->
<!--                #{empId}-->
<!--            </foreach>-->


    </delete>

</mapper>
